.libraryEntry {

}

.libraryEntry:hover {
  cursor:pointer;
}

.library {

}

.nowPlaying {
  color: gold;
}

.player {

}

.songQueueEntry {
  font-style:italic;
}

.songQueueEntry:hover {
  cursor:pointer;
}

.songQueue {

}

th {
  font-family:sans-serif;
}
