.libraryEntry {

}

.libraryEntry:hover {
  cursor:pointer;
  /*font-family: sans-serif;*/
}

td {

}
.library {

}

.nowPlaying {
  color: blue;
}

.player {

}

.songQueueEntry {
  font-style:italic;
}

.songQueueEntry:hover {
  cursor:pointer;
}

.songQueue {

}

th {
  font-family:sans-serif;
}
